@use '../variables' as *;

/* Default form controls */
input,
textarea {
    background-color: $white;
    border: none;
    color: $text-black;
    font-family: inherit;
    font-size: $fs-regular;
    outline: 1.5px solid $grey-200;
    padding: .75em 1em;
    width: 100%;
    transition: outline-color 200ms ease, box-shadow 200ms ease;

    &:hover {
        outline-color: $primary-400;
    }

    &:focus {
        outline-color: $primary-400;
        box-shadow: 0 0 0 4px $primary-300;
    }
}

/*****************
    Form Layout
******************/
.form {
    background-color: $white;
    max-width: 380px;
    margin: 1em auto;
    width: 100%;

    &-heading {
        text-align: center;
        margin-bottom: 0.5em;
    }

    &-control {
        display: flex;
        flex-direction: column;
        gap: .125em;
        margin-bottom: 1.5em;
        width: 100%;

        &:first-of-type {
            margin-top: 2em;
        }
    }

    label {
        color: $text-clr;
        cursor: pointer;
        font-size: $fs-regular;
        margin-bottom: .25em;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="password"],
    textarea {
        border-radius: $border-radius--small;
    }

    .input-error {
        color: red;
        // font-size: $fs-xsmall;
        margin-bottom: 0;
        text-align: end;
    }

    &-buttons {
        display: flex;
        justify-content: end;
    }
}