@use './variables' as *;

/*****************
    Hero Section
******************/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2em;
    padding: 1em 0;

    @media (max-width:578px) {
        flex-direction: column-reverse;
    }

    &-content {
        align-self: center;
        flex-grow: 1;

        small {
            display: block;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        h1 {
            margin-bottom: .125em;
        }

        p:first-of-type {
            font-weight: 500;
            margin-bottom: .5em;
        }

        em {
            font-family: serif;
            font-weight: 400;
        }
    }

    &-image {
        align-self: stretch;
        flex: 1 1 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        background-image: radial-gradient($grey-400 1px, #ffffff 1px);
        background-size: 18px 18px;
        height: 330px;

        img {
            opacity: 1;
            // width: 100%;
            // height: 100%;
            // object-fit: cover;
        }
    }

}

/*****************
    Featured Product Section
******************/
.homepage {
    &-featured-product {
        border: 1px solid transparent;

        &:hover {
            border-color: $primary-clr;
        }
    }

    &-product__image {
        display: block;

        >img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}