@use './variables' as *;

/* Single Page Styles */

/*****************
    Signup/Login pages
******************/
main#signup-page,
main#login-page {
    width: 100%;
    background-color: $white;
    background-image: radial-gradient($grey-300 1.3px, transparent 1.3px), radial-gradient($grey-300 1.3px, $white 1.3px);
    background-size: 52px 52px;
    background-position: 0 0, 26px 26px;
}

/*****************
    Error page
******************/
.error-page {
    background-color: $grey-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

    &-container {
        max-width: 600px;
    }

    h2 {
        margin-bottom: 0.5em;
    }

    p {
        color: $text-clr;
        margin-bottom: 1em;
    }
}