@use './variables' as *;

/*****************
    Base
******************/

/* Reset */
html {
    scroll-behavior: smooth;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: $font-sans;
    margin: auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

ul,
ol {
    padding-inline-start: 0;
}

/* Helpers - Visibility */
[hidden] {
    display: none !important;
}

/* Helpers - Container */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Helpers - Text */
.text-upper {
    text-transform: uppercase;
    letter-spacing: -0.25px;
}

.text-center {
    text-align: center !important;
}

/* Helpers - Padding */
.section-header,
.py-2 {
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-header {
    background-color: $grey-bg;
}

/* Helpers - Content center */
.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Helpers - CK Editor */
#editor,
.ck-editor {
    max-width: 800px;

    &__editable {
        min-height: 200px;
    }
}