/*****************
    Variables
******************/

$font-sans: 'Inter', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
$font-display: 'Oswald', serif;
$font-mono: monospace;

$h1: clamp(2rem, 4vw, 2.75rem);
$h2: clamp(1.75rem, 3vw, 2rem);
$h3: clamp(1.375rem, 2vw, 1.625rem);
$h4: clamp(1.0625rem, 2vw, 1.25rem);
$fs-large: 1.0625rem;
$fs-regular: 1rem;
$fs-small: 0.875rem;
$fs-xsmall: 0.75rem;

$border-radius--small: 0.325em;
$border-radius--medium: 1em;
$border-radius--large: 1.5em;

$test-clr: hsl(182, 83%, 9%);

$grey-bg: #f6f6f7;
$grey-100: #f2f2f4;
$grey-200: #e2e2e7;
$grey-300: #ccc;
$grey-400: #666;
$grey-500: #555;

:root {
    // --hue: 248;
    --hue: 210;
    --sec-hue: 37;
}

$primary-hue: var(--hue);
$primary-clr: hsl($primary-hue, 80%, 30%);
$primary-100: hsl($primary-hue, 80%, 98%);
$primary-200: hsl($primary-hue, 80%, 93%);
$primary-300: hsl($primary-hue, 80%, 85%);
$primary-400: hsl($primary-hue, 80%, 75%);
$primary-900: hsl($primary-hue, 80%, 25%);

$sec-hue: var(--sec-hue);
$sec-clr: hsl($sec-hue, 98%, 53%);

$link-blue: #0066dd;
$text-clr: #45454f;

$black: #000;
$white: #fff;
$text-black: #000;
$text-white: #fff;